// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$vanilla: #F5F3EC;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #558B64;
$gray: #0E0000;
$black: #000000;
$light-gray: #F4F4F4;
$light-grey: #f4f4f49e;
$shadow-gray: #6a6a6a;
