<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path "crocodile.jpg"%>);">
  <div class="title-info" data-controller="typed">
    <h1 class = "main-title">Bienvenue sur <strong>Pawsome</strong></h1>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <p class="element"></p>
  </div>
  <div class="star-button">
    <a href="/pets">Voir nos stars</a>
  </div>
</div>

<div class="about-us">
  <h2 class="second-title">Adoptez votre animal rêvé le temps d'une journée ou plus!</h2>
  <div class=" row flip-cards">
    <div class="col-12 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3>Notre philosophie</h3>
        </div>
        <div class="flip-card-back">
          <p class="paragraph">Ici, nous ne sommes pas d'amateurs de chiens ou de chats... Nous sommes de grands rêveurs. Nous sommes des amateurs d'exostisme.
          C'est pourquoi nous vous donnons l'opportunité d'échanger entre passionnées d'animaux en tous genres, dans le respect le plus total des utilisateurs et de leurs animaux adorés.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3>Notre histoire</h3>
        </div>
        <div class="flip-card-back">
          <p class="paragraph">Fondé en 2023 par trois fondatrices passionnées, Pawsome est une expérience unique, riche en aventures et en découvertes en tous genres.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3>Notre garantie</h3>
        </div>
        <div class="flip-card-back">
          <p class="paragraph">Ne vous inquiétez pas, nous avons une ligne téléphonique privilégiée chez les pompiers et le SAMU. Vous pouvez aimez vos animaux en toute tranquilité!</p>
        </div>
      </div>
    </div>
  </div>
</div>
