<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path "crocodile.jpg"%>);">
  <div class="title-info">
    <h1 class = "main-title">Bienvenue sur <strong>Pawsome</strong></h1>
    <p>Louez vos animaux entre amateurs passionés</p>
    <a class="btn btn-light" href="/pets">Voir nos stars</a>
  </div>
</div>

<div class="about-us">
  <h2 class="second-title">Adoptez le temps d'une journée ou plus votre animal rêvé!</h2>
    <p class="paragraph">Ici, nous ne sommes pas d'amateurs de chiens ou de chats... Nous sommes de grands rêveurs. Nous sommes des amateurs d'exostisme.
      C'est pourquoi nous vous donnons l'opportunité d'échanger entre passionnées d'animaux en tous genres, dans le respect le plus total des utilisateurs et de leurs animaux adorés.
      Fondé en 2023 par trois fondatrices passionnées, Pawsome est une expérience unique, riche en aventures et en découvertes en tous genres.
      Ne vous inquiétez pas, nous avons une ligne téléphonique privilégiée chez les pompiers et le SAMU. Vous pouvez aimez vos animaux en toute tranquilité!
    </p>
</div>
