.container {
  right: 20px;
  top: 32rem;
  position: absolute;
}

.pet-photo {
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.flat-show-card {
  background-color:$white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 2px lightgrey;
  border-radius: 3px;
}


.brand {
  color: lightgrey;
  text-align: left;
}


.btn .button_submit{
  background-color: $black;
  color: $white;

  &:hover {
    background-color: $white;
    color: $black;
    transition: 0.5s;
  }
}

body {
  background-color: $vanilla;
}

a {
  text-decoration: none;
}
