.color-white {
  color:white;
  border-radius: 10px;
}

#text-bigger {
  font-size: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-category {
  background-color: white;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-profile-list {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-profile-list > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-profile-list h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-profile-list p {
  font-size: 12px;
  color: darkgrey;
  margin: 0;
}


.card-profile-list .card-profile-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image-profile-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card-profile-booking {
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.card-profile-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 121px;
}

.card-profile-booking img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-profile-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-profile-booking p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 1;
  margin-bottom: 0;
  margin-top: 8px;
}

#e-mail-profile {
  color: grey;
  font-weight: 100;
}

.choice-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 60px;
  padding-right: 15px;
}

.confirmation, .refus {
  height: 100%;
  color:$white;
  margin: 10px;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  transition:0.8s;
    &:hover {
      color:$white;
    }
  }

.confirmation {
  background-color: $green;
  background-image: linear-gradient(-180deg, #49c237, $green);
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 30px;
  line-height: 30px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.refus {
  background-color: $red;
  background-color: $green;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 30px;
  line-height: 30px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}
